<div class="ui">
  <header>
    <span *ngIf="open" (click)="toggle()">
      <ng-content select=".tr-icon-close"></ng-content>
    </span>
    <span *ngIf="!open" (click)="toggle()">
      <ng-content select=".tr-icon-open"></ng-content>
    </span>
  </header>
  <nav [ngClass]="{'close-aside': !open}">
    <ng-content select=".tr-nav"></ng-content>
  </nav>
  <main>
    <ng-content select=".tr-content"></ng-content>
  </main>
  <footer>
    <ng-content select=".tr-footer"></ng-content>
  </footer>
</div>
